<img class="country_flag" src="{{flag}}" alt="{{name}}" width=300>
<h1 class="country_name">{{name}}</h1>
<p class="country_detail">Capital: {{capital}} </p>
<p class="country_detail">Population: {{population}} </p>